.simplepaint {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.simplepaint > .menu {
    width: 50px;
    flex-shrink: 0;
    color: black;
    background: white;
    z-index: 1000;

    display: flex;
    flex-direction: column;
}

.simplepaint > .menu > i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

.simplepaint > .menu > i:hover {
    background: #B5DDE2;
}

.simplepaint > .menu > i:active {
    background: black;
    color: white;
}

.simplepaint > .menu > i.bottom {
    margin-top: auto;
}

.simplepaint > canvas {
    flex-grow: 1;
    background: white;
}

.simplepaint > .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    background: rgba(181,221,226, 0.8);
    overflow: auto;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    transform: translateX(-100%);
    transition: 0.4s;
    z-index: 999;
}

.simplepaint > .slider > p {
    color: black;
    width: 100%;
    font-family: sans-serif;
    padding-left: 10px;
}

.simplepaint > .slider.open {
    transform: translateX(50px);
}

.simplepaint > .slider > .option {
    padding: 10px;
    flex-grow: 1;
    width: 32px;
    min-height: 32px;
    text-align: center;
    color: black;
    cursor: pointer;
}

.simplepaint > .slider > .option.selected {
    box-shadow: inset 0px 0px 0px 2px white;
}

.simplepaint > .slider > .option:hover {
    background: white;
    color: black;
}